/* menu.css */

.menu-intro,
.menu-column,
.menu-item {
    background-color: #f2f2f2; /* Light gray background */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #e0e0e0; /* Lighter gray on hover */
}

.menu-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    cursor: pointer;
}

.menu-price {
    font-weight: bold;
    color: #888;
}

.menu-description {
    margin-top: 10px;
    color: #666;
}

.menu-details {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
}

.menu-details img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.menu-details-description {
    color: #666;
}

.menu-item.expanded .menu-details {
    display: block;
}

.close-details {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item.expanded .close-details {
    display: block;
}

@media only screen and (max-width: 768px) {
    .menu-intro,
    .menu-column,
    .menu-item {
        padding: 10px;
    }

    .menu-title {
        font-size: 1.2em;
    }

    .menu-price {
        font-size: 0.9em;
    }

    .menu-description {
        font-size: 0.9em;
    }
}
