/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #fff; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0; /* Increased padding for better spacing */
}

.logo {
    display: block;
    text-align: center;
}

.logo img {
    max-width: 200px;
}

/* Navigation */
.nav-links {
    background-color: transparent; /* Make the background transparent */
    padding: 10px 0;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-links ul li {
    display: inline;
    margin-right: 20px;
}

.nav-links ul li:last-child {
    margin-right: 0;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
    padding: 10px 20px; /* Same padding as the "Book Now" button */
    border-radius: 5px; /* Same border radius as the "Book Now" button */
    transition: background-color 0.3s;
    background-color: #007bff; /* Blue color for the first link */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links ul li a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
